# Database Configuration (dùng cho docker-compose.yml)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=concert-booking-ticket
DB_USER=concert-booking-ticket
DB_PASSWORD=your_password_here

# Application Configuration
SERVER_PORT=8080

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_at_least_32_characters_long
JWT_EXPIRATION=86400000
